

.sIFR-flash{visibility:visible !important;margin:0;}.sIFR-replaced{visibility:visible !important;}span.sIFR-alternate{position:absolute;left:0;top:0;width:0;height:0;display:block;overflow:hidden;}.sIFR-flash + div[adblocktab=true]{display:none !important;}.sIFR-hasFlash #page-title{visibility:hidden;font-size:38px;}.sIFR-hasFlash #main-content h3,.sIFR-hasFlash  #main-content h4{visibility:hidden;font-size:14px;}.sIFR-hasFlash #main-content h4{visibility:hidden;font-size:12px;}

/* Telephone */
a.telephone {
	    color: #E5601C;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
}