



html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}






body{font:13px/1.5 Verdana,Arial,'Liberation Sans',FreeSans,sans-serif;}hr{border-color:#ccc;border-style:solid;border-width:1px 0 0;clear:both;height:0;}h1{font-size:25px;}h2{font-size:23px;}h3{font-size:21px;}h4{font-size:19px;}h5{font-size:17px;}h6{font-size:15px;}ol{list-style:decimal;}ul{list-style:square;}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px;}






.container-12,.container-16{margin-left:auto;margin-right:auto;width:960px;}.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12,.grid-13,.grid-14,.grid-15,.grid-16{display:inline;float:left;position:relative;margin-left:10px;margin-right:10px;}.container-12 .grid-3,.container-16 .grid-4{width:220px;}.container-12 .grid-6,.container-16 .grid-8{width:460px;}.container-12 .grid-9,.container-16 .grid-12{width:700px;}.container-12 .grid-12,.container-16 .grid-16{width:940px;}.alpha{margin-left:0;}.omega{margin-right:0;}.container-12 .grid-1{width:60px;}.container-12 .grid-2{width:140px;}.container-12 .grid-4{width:300px;}.container-12 .grid-5{width:380px;}.container-12 .grid-7{width:540px;}.container-12 .grid-8{width:620px;}.container-12 .grid-10{width:780px;}.container-12 .grid-11{width:860px;}.container-16 .grid-1{width:40px;}.container-16 .grid-2{width:100px;}.container-16 .grid-3{width:160px;}.container-16 .grid-5{width:280px;}.container-16 .grid-6{width:340px;}.container-16 .grid-7{width:400px;}.container-16 .grid-9{width:520px;}.container-16 .grid-10{width:580px;}.container-16 .grid-11{width:640px;}.container-16 .grid-13{width:760px;}.container-16 .grid-14{width:820px;}.container-16 .grid-15{width:880px;}.container-12 .prefix-3,.container-16 .prefix-4{padding-left:240px;}.container-12 .prefix-6,.container-16 .prefix-8{padding-left:480px;}.container-12 .prefix-9,.container-16 .prefix-12{padding-left:720px;}.container-12 .prefix-1{padding-left:80px;}.container-12 .prefix-2{padding-left:160px;}.container-12 .prefix-4{padding-left:320px;}.container-12 .prefix-5{padding-left:400px;}.container-12 .prefix-7{padding-left:560px;}.container-12 .prefix-8{padding-left:640px;}.container-12 .prefix-10{padding-left:800px;}.container-12 .prefix-11{padding-left:880px;}.container-16 .prefix-1{padding-left:60px;}.container-16 .prefix-2{padding-left:120px;}.container-16 .prefix-3{padding-left:180px;}.container-16 .prefix-5{padding-left:300px;}.container-16 .prefix-6{padding-left:360px;}.container-16 .prefix-7{padding-left:420px;}.container-16 .prefix-9{padding-left:540px;}.container-16 .prefix-10{padding-left:600px;}.container-16 .prefix-11{padding-left:660px;}.container-16 .prefix-13{padding-left:780px;}.container-16 .prefix-14{padding-left:840px;}.container-16 .prefix-15{padding-left:900px;}.container-12 .suffix-3,.container-16 .suffix-4{padding-right:240px;}.container-12 .suffix-6,.container-16 .suffix-8{padding-right:480px;}.container-12 .suffix-9,.container-16 .suffix-12{padding-right:720px;}.container-12 .suffix-1{padding-right:80px;}.container-12 .suffix-2{padding-right:160px;}.container-12 .suffix-4{padding-right:320px;}.container-12 .suffix-5{padding-right:400px;}.container-12 .suffix-7{padding-right:560px;}.container-12 .suffix-8{padding-right:640px;}.container-12 .suffix-10{padding-right:800px;}.container-12 .suffix-11{padding-right:880px;}.container-16 .suffix-1{padding-right:60px;}.container-16 .suffix-2{padding-right:120px;}.container-16 .suffix-3{padding-right:180px;}.container-16 .suffix-5{padding-right:300px;}.container-16 .suffix-6{padding-right:360px;}.container-16 .suffix-7{padding-right:420px;}.container-16 .suffix-9{padding-right:540px;}.container-16 .suffix-10{padding-right:600px;}.container-16 .suffix-11{padding-right:660px;}.container-16 .suffix-13{padding-right:780px;}.container-16 .suffix-14{padding-right:840px;}.container-16 .suffix-15{padding-right:900px;}.container-12 .push-3,.container-16 .push-4{left:240px;}.container-12 .push-6,.container-16 .push-8{left:480px;}.container-12 .push-9,.container-16 .push-12{left:720px;}.container-12 .push-1{left:80px;}.container-12 .push-2{left:160px;}.container-12 .push-4{left:320px;}.container-12 .push-5{left:400px;}.container-12 .push-7{left:560px;}.container-12 .push-8{left:640px;}.container-12 .push-10{left:800px;}.container-12 .push-11{left:880px;}.container-16 .push-1{left:60px;}.container-16 .push-2{left:120px;}.container-16 .push-3{left:180px;}.container-16 .push-5{left:300px;}.container-16 .push-6{left:360px;}.container-16 .push-7{left:420px;}.container-16 .push-9{left:540px;}.container-16 .push-10{left:600px;}.container-16 .push-11{left:660px;}.container-16 .push-13{left:780px;}.container-16 .push-14{left:840px;}.container-16 .push-15{left:900px;}.container-12 .pull-3,.container-16 .pull-4{left:-240px;}.container-12 .pull-6,.container-16 .pull-8{left:-480px;}.container-12 .pull-9,.container-16 .pull-12{left:-720px;}.container-12 .pull-1{left:-80px;}.container-12 .pull-2{left:-160px;}.container-12 .pull-4{left:-320px;}.container-12 .pull-5{left:-400px;}.container-12 .pull-7{left:-560px;}.container-12 .pull-8{left:-640px;}.container-12 .pull-10{left:-800px;}.container-12 .pull-11{left:-880px;}.container-16 .pull-1{left:-60px;}.container-16 .pull-2{left:-120px;}.container-16 .pull-3{left:-180px;}.container-16 .pull-5{left:-300px;}.container-16 .pull-6{left:-360px;}.container-16 .pull-7{left:-420px;}.container-16 .pull-9{left:-540px;}.container-16 .pull-10{left:-600px;}.container-16 .pull-11{left:-660px;}.container-16 .pull-13{left:-780px;}.container-16 .pull-14{left:-840px;}.container-16 .pull-15{left:-900px;}


body.show-grid .container-16{background-image:url("../../../all/themes/lifeline/images/16_col.gif");}body.show-grid .container-12{background-image:url("../../../all/themes/lifeline/images/12_col.gif");}body.show-grid .grid-1:hover,body.show-grid .grid-2:hover,body.show-grid .grid-3:hover,body.show-grid .grid-4:hover,body.show-grid .grid-5:hover,body.show-grid .grid-6:hover,body.show-grid .grid-7:hover,body.show-grid .grid-8:hover,body.show-grid .grid-9:hover,body.show-grid .grid-10:hover,body.show-grid .grid-11:hover,body.show-grid .grid-12:hover,body.show-grid .grid-13:hover,body.show-grid .grid-14:hover,body.show-grid .grid-15:hover,body.show-grid .grid-16:hover{background-color:rgba(0,255,255,.2);background-repeat:no-repeat;background-position:top right;outline:1px solid #d66;}body.show-grid .grid-1:hover{background-image:url("../../../all/themes/lifeline/images/grid_count/1.png");}body.show-grid .grid-2:hover{background-image:url("../../../all/themes/lifeline/images/grid_count/2.png");}body.show-grid .grid-3:hover{background-image:url("../../../all/themes/lifeline/images/grid_count/3.png");}body.show-grid .grid-4:hover{background-image:url("../../../all/themes/lifeline/images/grid_count/4.png");}body.show-grid .grid-5:hover{background-image:url("../../../all/themes/lifeline/images/grid_count/5.png");}body.show-grid .grid-6:hover{background-image:url("../../../all/themes/lifeline/images/grid_count/6.png");}body.show-grid .grid-7:hover{background-image:url("../../../all/themes/lifeline/images/grid_count/7.png");}body.show-grid .grid-8:hover{background-image:url("../../../all/themes/lifeline/images/grid_count/8.png");}body.show-grid .grid-9:hover{background-image:url("../../../all/themes/lifeline/images/grid_count/9.png");}body.show-grid .grid-10:hover{background-image:url("../../../all/themes/lifeline/images/grid_count/10.png");}body.show-grid .grid-11:hover{background-image:url("../../../all/themes/lifeline/images/grid_count/11.png");}body.show-grid .grid-12:hover{background-image:url("../../../all/themes/lifeline/images/grid_count/12.png");}body.show-grid .grid-13:hover{background-image:url("../../../all/themes/lifeline/images/grid_count/13.png");}body.show-grid .grid-14:hover{background-image:url("../../../all/themes/lifeline/images/grid_count/14.png");}body.show-grid .grid-15:hover{background-image:url("../../../all/themes/lifeline/images/grid_count/15.png");}body.show-grid .grid-16:hover{background-image:url("../../../all/themes/lifeline/images/grid_count/16.png");}

.node-unpublished{background-color:#fff4f4;}.preview .node{background-color:#ffffea;}#node-admin-filter ul{list-style-type:none;padding:0;margin:0;width:100%;}#node-admin-buttons{float:left;margin-left:0.5em;clear:right;}td.revision-current{background:#ffc;}.node-form .form-text{display:block;width:95%;}.node-form .container-inline .form-text{display:inline;width:auto;}.node-form .standard{clear:both;}.node-form textarea{display:block;width:95%;}.node-form .attachments fieldset{float:none;display:block;}.terms-inline{display:inline;}


fieldset{margin-bottom:1em;padding:.5em;}form{margin:0;padding:0;}hr{height:1px;border:1px solid gray;}img{border:0;}table{border-collapse:collapse;}th{text-align:left;padding-right:1em;border-bottom:3px solid #ccc;}.clear-block:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.clear-block{display:inline-block;}/*_\*/
* html .clear-block{height:1%;}.clear-block{display:block;}/* End hide from IE-mac */



body.drag{cursor:move;}th.active img{display:inline;}tr.even,tr.odd{background-color:#eee;border-bottom:1px solid #ccc;padding:0.1em 0.6em;}tr.drag{background-color:#fffff0;}tr.drag-previous{background-color:#ffd;}td.active{background-color:#ddd;}td.checkbox,th.checkbox{text-align:center;}tbody{border-top:1px solid #ccc;}tbody th{border-bottom:1px solid #ccc;}thead th{text-align:left;padding-right:1em;border-bottom:3px solid #ccc;}.breadcrumb{padding-bottom:.5em}div.indentation{width:20px;height:1.7em;margin:-0.4em 0.2em -0.4em -0.4em;padding:0.42em 0 0.42em 0.6em;float:left;}div.tree-child{background:url("http://www.lifelinehelpline.info/misc/tree.png") no-repeat 11px center;}div.tree-child-last{background:url("http://www.lifelinehelpline.info/misc/tree-bottom.png") no-repeat 11px center;}div.tree-child-horizontal{background:url("http://www.lifelinehelpline.info/misc/tree.png") no-repeat -11px center;}.error{color:#e55;}div.error{border:1px solid #d77;}div.error,tr.error{background:#fcc;color:#200;padding:2px;}.warning{color:#e09010;}div.warning{border:1px solid #f0c020;}div.warning,tr.warning{background:#ffd;color:#220;padding:2px;}.ok{color:#008000;}div.ok{border:1px solid #00aa00;}div.ok,tr.ok{background:#dfd;color:#020;padding:2px;}.item-list .icon{color:#555;float:right;padding-left:0.25em;clear:right;}.item-list .title{font-weight:bold;}.item-list ul{margin:0 0 0.75em 0;padding:0;}.item-list ul li{margin:0 0 0.25em 1.5em;padding:0;list-style:disc;}ol.task-list li.active{font-weight:bold;}.form-item{margin-top:1em;margin-bottom:1em;}tr.odd .form-item,tr.even .form-item{margin-top:0;margin-bottom:0;white-space:nowrap;}tr.merge-down,tr.merge-down td,tr.merge-down th{border-bottom-width:0 !important;}tr.merge-up,tr.merge-up td,tr.merge-up th{border-top-width:0 !important;}.form-item input.error,.form-item textarea.error,.form-item select.error{border:2px solid red;}.form-item .description{font-size:0.85em;}.form-item label{display:block;font-weight:bold;}.form-item label.option{display:inline;font-weight:normal;}.form-checkboxes,.form-radios{margin:1em 0;}.form-checkboxes .form-item,.form-radios .form-item{margin-top:0.4em;margin-bottom:0.4em;}.marker,.form-required{color:#f00;}.more-link{text-align:right;}.more-help-link{font-size:0.85em;text-align:right;}.nowrap{white-space:nowrap;}.item-list .pager{clear:both;text-align:center;}.item-list .pager li{background-image:none;display:inline;list-style-type:none;padding:0.5em;}.pager-current{font-weight:bold;}.tips{margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;font-size:0.9em;}dl.multiselect dd.b,dl.multiselect dd.b .form-item,dl.multiselect dd.b select{font-family:inherit;font-size:inherit;width:14em;}dl.multiselect dd.a,dl.multiselect dd.a .form-item{width:10em;}dl.multiselect dt,dl.multiselect dd{float:left;line-height:1.75em;padding:0;margin:0 1em 0 0;}dl.multiselect .form-item{height:1.75em;margin:0;}.container-inline div,.container-inline label{display:inline;}ul.primary{border-collapse:collapse;padding:0 0 0 1em;white-space:nowrap;list-style:none;margin:5px;height:auto;line-height:normal;border-bottom:1px solid #bbb;}ul.primary li{display:inline;}ul.primary li a{background-color:#ddd;border-color:#bbb;border-width:1px;border-style:solid solid none solid;height:auto;margin-right:0.5em;padding:0 1em;text-decoration:none;}ul.primary li.active a{background-color:#fff;border:1px solid #bbb;border-bottom:#fff 1px solid;}ul.primary li a:hover{background-color:#eee;border-color:#ccc;border-bottom-color:#eee;}ul.secondary{border-bottom:1px solid #bbb;padding:0.5em 1em;margin:5px;}ul.secondary li{display:inline;padding:0 1em;border-right:1px solid #ccc;}ul.secondary a{padding:0;text-decoration:none;}ul.secondary a.active{border-bottom:4px solid #999;}#autocomplete{position:absolute;border:1px solid;overflow:hidden;z-index:100;}#autocomplete ul{margin:0;padding:0;list-style:none;}#autocomplete li{background:#fff;color:#000;white-space:pre;cursor:default;}#autocomplete li.selected{background:#0072b9;color:#fff;}html.js input.form-autocomplete{background-image:url("http://www.lifelinehelpline.info/misc/throbber.gif");background-repeat:no-repeat;background-position:100% 2px;}html.js input.throbbing{background-position:100% -18px;}html.js fieldset.collapsed{border-bottom-width:0;border-left-width:0;border-right-width:0;margin-bottom:0;height:1em;}html.js fieldset.collapsed *{display:none;}html.js fieldset.collapsed legend{display:block;}html.js fieldset.collapsible legend a{padding-left:15px;background:url("http://www.lifelinehelpline.info/misc/menu-expanded.png") 5px 75% no-repeat;}html.js fieldset.collapsed legend a{background-image:url("http://www.lifelinehelpline.info/misc/menu-collapsed.png");background-position:5px 50%;}* html.js fieldset.collapsed legend,* html.js fieldset.collapsed legend *,* html.js fieldset.collapsed table *{display:inline;}html.js fieldset.collapsible{position:relative;}html.js fieldset.collapsible legend a{display:block;}html.js fieldset.collapsible .fieldset-wrapper{overflow:auto;}.resizable-textarea{width:95%;}.resizable-textarea .grippie{height:9px;overflow:hidden;background:#eee url("http://www.lifelinehelpline.info/misc/grippie.png") no-repeat center 2px;border:1px solid #ddd;border-top-width:0;cursor:s-resize;}html.js .resizable-textarea textarea{margin-bottom:0;width:100%;display:block;}.draggable a.tabledrag-handle{cursor:move;float:left;height:1.7em;margin:-0.4em 0 -0.4em -0.5em;padding:0.42em 1.5em 0.42em 0.5em;text-decoration:none;}a.tabledrag-handle:hover{text-decoration:none;}a.tabledrag-handle .handle{margin-top:4px;height:13px;width:13px;background:url("http://www.lifelinehelpline.info/misc/draggable.png") no-repeat 0 0;}a.tabledrag-handle-hover .handle{background-position:0 -20px;}.joined + .grippie{height:5px;background-position:center 1px;margin-bottom:-2px;}.teaser-checkbox{padding-top:1px;}div.teaser-button-wrapper{float:right;padding-right:5%;margin:0;}.teaser-checkbox div.form-item{float:right;margin:0 5% 0 0;padding:0;}textarea.teaser{display:none;}html.js .no-js{display:none;}.progress{font-weight:bold;}.progress .bar{background:#fff url("http://www.lifelinehelpline.info/misc/progress.gif");border:1px solid #00375a;height:1.5em;margin:0 0.2em;}.progress .filled{background:#0072b9;height:1em;border-bottom:0.5em solid #004a73;width:0%;}.progress .percentage{float:right;}.progress-disabled{float:left;}.ahah-progress{float:left;}.ahah-progress .throbber{width:15px;height:15px;margin:2px;background:transparent url("http://www.lifelinehelpline.info/misc/throbber.gif") no-repeat 0px -18px;float:left;}tr .ahah-progress .throbber{margin:0 2px;}.ahah-progress-bar{width:16em;}#first-time strong{display:block;padding:1.5em 0 .5em;}tr.selected td{background:#ffc;}table.sticky-header{margin-top:0;background:#fff;}#clean-url.install{display:none;}html.js .js-hide{display:none;}#system-modules div.incompatible{font-weight:bold;}#system-themes-form div.incompatible{font-weight:bold;}span.password-strength{visibility:hidden;}input.password-field{margin-right:10px;}div.password-description{padding:0 2px;margin:4px 0 0 0;font-size:0.85em;max-width:500px;}div.password-description ul{margin-bottom:0;}.password-parent{margin:0 0 0 0;}input.password-confirm{margin-right:10px;}.confirm-parent{margin:5px 0 0 0;}span.password-confirm{visibility:hidden;}span.password-confirm span{font-weight:normal;}

ul.menu{list-style:none;border:none;text-align:left;}ul.menu li{margin:0 0 0 0.5em;}li.expanded{list-style-type:circle;list-style-image:url("http://www.lifelinehelpline.info/misc/menu-expanded.png");padding:0.2em 0.5em 0 0;margin:0;}li.collapsed{list-style-type:disc;list-style-image:url("http://www.lifelinehelpline.info/misc/menu-collapsed.png");padding:0.2em 0.5em 0 0;margin:0;}li.leaf{list-style-type:square;list-style-image:url("http://www.lifelinehelpline.info/misc/menu-leaf.png");padding:0.2em 0.5em 0 0;margin:0;}li a.active{color:#000;}td.menu-disabled{background:#ccc;}ul.links{margin:0;padding:0;}ul.links.inline{display:inline;}ul.links li{display:inline;list-style-type:none;padding:0 0.5em;}.block ul{margin:0;padding:0 0 0.25em 1em;}

#permissions td.module{font-weight:bold;}#permissions td.permission{padding-left:1.5em;}#access-rules .access-type,#access-rules .rule-type{margin-right:1em;float:left;}#access-rules .access-type .form-item,#access-rules .rule-type .form-item{margin-top:0;}#access-rules .mask{clear:both;}#user-login-form{text-align:center;}#user-admin-filter ul{list-style-type:none;padding:0;margin:0;width:100%;}#user-admin-buttons{float:left;margin-left:0.5em;clear:right;}#user-admin-settings fieldset .description{font-size:0.85em;padding-bottom:.5em;}.profile{clear:both;margin:1em 0;}.profile .picture{float:right;margin:0 1em 1em 0;}.profile h3{border-bottom:1px solid #ccc;}.profile dl{margin:0 0 1.5em 0;}.profile dt{margin:0 0 0.2em 0;font-weight:bold;}.profile dd{margin:0 0 1em 0;}



.field .field-label,.field .field-label-inline,.field .field-label-inline-first{font-weight:bold;}.field .field-label-inline,.field .field-label-inline-first{display:inline;}.field .field-label-inline{visibility:hidden;}.node-form .content-multiple-table td.content-multiple-drag{width:30px;padding-right:0;}.node-form .content-multiple-table td.content-multiple-drag a.tabledrag-handle{padding-right:.5em;}.node-form .content-add-more .form-submit{margin:0;}.node-form .number{display:inline;width:auto;}.node-form .text{width:auto;}.form-item #autocomplete .reference-autocomplete{white-space:normal;}.form-item #autocomplete .reference-autocomplete label{display:inline;font-weight:normal;}#content-field-overview-form .advanced-help-link,#content-display-overview-form .advanced-help-link{margin:4px 4px 0 0;}#content-field-overview-form .label-group,#content-display-overview-form .label-group,#content-copy-export-form .label-group{font-weight:bold;}table#content-field-overview .label-add-new-field,table#content-field-overview .label-add-existing-field,table#content-field-overview .label-add-new-group{float:left;}table#content-field-overview tr.content-add-new .tabledrag-changed{display:none;}table#content-field-overview tr.content-add-new .description{margin-bottom:0;}table#content-field-overview .content-new{font-weight:bold;padding-bottom:.5em;}.advanced-help-topic h3,.advanced-help-topic h4,.advanced-help-topic h5,.advanced-help-topic h6{margin:1em 0 .5em 0;}.advanced-help-topic dd{margin-bottom:.5em;}.advanced-help-topic span.code{background-color:#EDF1F3;font-family:"Bitstream Vera Sans Mono",Monaco,"Lucida Console",monospace;font-size:0.9em;padding:1px;}.advanced-help-topic .content-border{border:1px solid #AAA}
.rteindent1{margin-left:40px;}.rteindent2{margin-left:80px;}.rteindent3{margin-left:120px;}.rteindent4{margin-left:160px;}.rteleft{text-align:left;}.rteright{text-align:right;}.rtecenter{text-align:center;}.rtejustify{text-align:justify;}.image_assist{background-color:#eeeeee;background-repeat:no-repeat;background-image:url("../../../all/modules/fckeditor/plugins/imgassist/imgassist.gif");background-position:50% 50%;border:1px dashed #dddddd;}.ibimage_left{float:left;}.ibimage_right{float:right;}



.filefield-icon{margin:0 2px 0 0;}.filefield-element{margin:1em 0;white-space:normal;}.filefield-element .widget-preview{float:left;padding:0 10px 0 0;margin:0 10px 0 0;border-width:0 1px 0 0;border-style:solid;border-color:#CCC;max-width:30%;}.filefield-element .widget-edit{float:left;max-width:70%;}.filefield-element .filefield-preview{width:16em;overflow:hidden;}.filefield-element .widget-edit .form-item{margin:0 0 1em 0;}.filefield-element input.form-submit,.filefield-element input.form-file{margin:0;}.filefield-element input.progress-disabled{float:none;display:inline;}.filefield-element div.ahah-progress,.filefield-element div.throbber{display:inline;float:none;padding:1px 13px 2px 3px;}.filefield-element div.ahah-progress-bar{display:none;margin-top:4px;width:28em;padding:0;}.filefield-element div.ahah-progress-bar div.bar{margin:0;}



div.block-textsize div h3.list{display:block;float:none;margin:0;}div.block-textsize div h3.inline{display:inline;float:left;margin:0;padding:0 0.5em 0.25em 0em;}div.textsize_list div#edit-textsize-select-wrapper,div.textsize_list div#edit-textsize-select-wrapper label{display:block;float:none;width:auto;}div.textsize_inline div#edit-textsize-select-wrapper,div.textsize_inline div#edit-textsize-select-wrapper label{display:block;float:left;width:auto;}div.textsize_list div#edit-textsize-select-wrapper,div.textsize_inline div#edit-textsize-select-wrapper{margin:0;}div.textsize_list div#edit-textsize-select-wrapper label{margin:0 0 0.5em 0;}div.textsize_inline div#edit-textsize-select-wrapper label{margin:0 0.5em 0 0;}div.textsize_list select#edit-textsize-select{margin:0 0.5em 0.5em 0;}div.textsize_inline select#edit-textsize-select{margin:0 0.5em 0 0;}div.textsize_current_inline div#edit-textsize-select-wrapper select{float:left;}.block ul.textsize_inline{padding:0;margin:0.2em 0 0.5em 0;}ul.textsize_inline{display:block;float:left;}ul.textsize_current_list{clear:right;}ul.textsize_current_inline{width:auto;}ul.textsize_list li{list-style-type:none;list-style-image:none !important;background:transparent;padding:0;margin:0 0 0.2em 0;}ul.textsize_inline li{display:block;float:left;list-style-type:none;list-style-image:none !important;background:transparent;padding:0;margin:0;}.block-textsize p{margin:0;padding:0;}.ts_float_right{float:right;}.ts_icon,a.ts_increase_variable,a.ts_decrease_variable,a.ts_normal_variable,a.ts_increase_fix,a.ts_decrease_fix,a.ts_normal_fix{display:block;}.ts_icon{float:none;padding:0 0 0 22px;}ul.textsize_inline li a.ts_icon,ul.textsize_inline li a.ts_rollover{float:left;}a.textsize_increase,a.ts_increase_variable,a.ts_increase_fix{width:16px;height:16px;}a.textsize_decrease,a.ts_decrease_variable,a.ts_decrease_fix{width:16px;height:16px;}a.textsize_normal,a.ts_normal_variable,a.ts_normal_fix{width:16px;height:16px;}ul.textsize_list a.textsize_increase,ul.textsize_list a.ts_increase_variable,ul.textsize_list a.ts_increase_fix{margin:0 0 3px 0;}ul.textsize_list a.textsize_decrease,ul.textsize_list a.ts_decrease_variable,ul.textsize_list a.ts_decrease_fix{margin:0 0 3px 0;}ul.textsize_list a.textsize_normal,ul.textsize_list a.ts_normal_variable,ul.textsize_list a.ts_normal_fix{margin:0 0 3px 0;}ul.textsize_inline a.textsize_increase,ul.textsize_inline a.ts_increase_variable,ul.textsize_inline a.ts_increase_fix{margin:0 3px 0 0;padding:0 0 0 22px;}ul.textsize_inline a.textsize_decrease,ul.textsize_inline a.ts_decrease_variable,ul.textsize_inline a.ts_decrease_fix{margin:0px 3px 0 0;padding:0 0 0 22px;}ul.textsize_inline a.textsize_normal,ul.textsize_inline a.ts_normal_variable,ul.textsize_inline a.ts_normal_fix{margin:0px 3px 0 0;padding:0 0 0 22px;}ul.textsize_list li a.text_display,ul.textsize_inline li a.text_display{width:auto;min-height:16px;height:1em;margin:0 12px 0 0;}ul.textsize_list li a.text_display_hidden,ul.textsize_inline li a.text_display_hidden{padding:0;}ul.textsize_list li a span.display{padding:0px;margin:0px;}ul.textsize_list li a span.display_hidden{padding:0 3px 0.2em 0;}a.ts_icon.textsize_end{cursor:crosshair;}a.textsize_increase,a.textsize_increase:visited{min-height:16px;height:1em;background-color:transparent;background-image:url("../../../all/modules/textsize/images/increase.gif");background-repeat:no-repeat;background-position:0 0px;}ul.textsize_inline li a.textsize_increase,ul.textsize_inline li a.textsize_increase:visited{background-position:0px 0px;}a.textsize_decrease,a.textsize_decrease:visited{min-height:16px;height:1em;background-color:transparent;background-image:url("../../../all/modules/textsize/images/decrease.gif");background-repeat:no-repeat;background-position:0px 0px;}ul.textsize_inline li a.textsize_decrease,ul.textsize_inline li a.textsize_decrease:visited{background-position:0px 0px;}a.textsize_normal,a.textsize_normal:visited{min-height:16px;height:1em;background-color:transparent;background-image:url("../../../all/modules/textsize/images/normal.gif");background-repeat:no-repeat;background-position:0px 0px;}ul.textsize_inline li a.textsize_normal,ul.textsize_inline li a.textsize_normal:visited{background-position:0px 0px;}a.textsize_increase:hover,a.textsize_decrease:hover,a.textsize_normal:hover{background-position:0 -100px;background-repeat:no-repeat;}ul.textsize_inline li a.textsize_increase:hover{background-position:0px -100px;}ul.textsize_inline li a.textsize_decrease:hover{background-position:0px -100px;}ul.textsize_inline li a.textsize_normal:hover{background-position:0px -100px;}a.textsize_increase:focus,a.textsize_decrease:focus,a.textsize_normal:focus,a.textsize_increase:active,a.textsize_decrease:active,a.textsize_normal:active{background-position:0 -200px;background-repeat:no-repeat;}ul.textsize_inline li a.textsize_increase:focus,ul.textsize_inline li a.textsize_increase:active{background-position:0px -200px;}ul.textsize_inline li a.textsize_decrease:focus,ul.textsize_inline li a.textsize_decrease:active{background-position:0px -200px;}ul.textsize_inline li a.textsize_normal:focus,ul.textsize_inline li a.textsize_normal:active{background-position:0px -200px;}p.textsize_current_list,p.textsize_current_inline{display:block;float:left;clear:right;}p.textsize_current_list{width:100%;}p.textsize_current_inline{width:auto;margin:0 0.2em 0 0;}p.text_display{margin:0;}abbr.textsize,span.textsize_current_help,p.current_text_display_hidden span#textsize_current{cursor:help;}head:first-child+body a.textsize_increase,head:first-child+body a.textsize_increase:visited{background-image:url("../../../all/modules/textsize/images/increase.png") !important;}head:first-child+body a.textsize_decrease,head:first-child+body a.textsize_decrease:visited{background-image:url("../../../all/modules/textsize/images/decrease.png") !important;}head:first-child+body a.textsize_normal,head:first-child+body a.textsize_normal:visited{background-image:url("../../../all/modules/textsize/images/normal.png") !important;}head:first-child+body a.textsize_increase:hover{background-image:url("../../../all/modules/textsize/images/increase.png") !important;}head:first-child+body a.textsize_decrease:hover{background-image:url("../../../all/modules/textsize/images/decrease.png") !important;}head:first-child+body a.textsize_normal:hover{background-image:url("../../../all/modules/textsize/images/normal.png") !important;}.ts_ok{color:#008000;}span.textsize_normal{display:block;width:20em;height:2em;padding:0em 0.5em 0em 28px;background:transparent url("../../../all/modules/textsize/images/normal.gif") no-repeat 0 0;}div#edit-textsize-display-increase-wrapper label input,div#edit-textsize-display-decrease-wrapper label input,div#edit-textsize-display-normal-wrapper label input{margin:0em 3.5em 0em 0.3em;}div#edit-textsize-display-increase-wrapper label{background:transparent url("../../../all/modules/textsize/images/increase.gif") no-repeat 2.2em 0;display:block;height:16px;}div#edit-textsize-display-decrease-wrapper label{background:transparent url("../../../all/modules/textsize/images/decrease.gif") no-repeat 2.2em 0;display:block;height:16px;}div#edit-textsize-display-normal-wrapper label{background:transparent url("../../../all/modules/textsize/images/normal.gif") no-repeat 2.2em 0;display:block;height:16px;}.ts_download_button,a.ts_download_button:link,a.ts_download_button:visited{display:block;float:none;padding:0.5em 1em;border:1px solid #E09010;margin:1em;text-decoration:underline;color:#E09010;background-color:#FFFFBF;}a.ts_download_button:hover{border:1px solid #000000;color:#000000;background-color:#FFFFBF;}a.ts_download_button:focus,a.ts_download_button:active{border:1px dashed #FFFFFF;color:#FFFFFF;background-color:#00BF00;}.ts_clear{clear:both;}.display_hidden{position:absolute;left:-1000px;top:-1000px;width:1px;height:1px;overflow:hidden;display:inline;}div#header-region div.block-textsize h2,div#header-region div.block-textsize div h3,div#header-region div div ul.textsize_list,div#header-region div div ul.textsize_inline,div#header-region div div ul.textsize_list li,div#header-region div div ul.textsize_inline li,div#header-region div div p.textsize_current_list,div#header-region div div p.textsize_current_inline,div#header-region div div form div div div#edit-textsize-select-wrapper label{display:block;margin:0;}.ts_icon,a.ts_increase_variable,a.ts_decrease_variable,a.ts_normal_variable,a.ts_increase_fix,a.ts_decrease_fix,a.ts_normal_fix{line-height:100%;}div#header-region div.block-textsize div h3.inline,div#header-region div div form div div div#edit-textsize-select-wrapper label{margin:0 0.5em 0 0;}div#header-region div div p.textsize_current_inline{margin-top:0em;}div#header-region div div ul.textsize_inline li{margin:0 0 0 0;}select#edit-textsize-select option{display:block;}


a#text_resize_increase{background:url("../../../all/modules/text_resize/aBig.gif") no-repeat 0 0;display:block;float:right;width:28px;height:27px;margin:6px 0 0 0;outline:none;text-indent:-9000px;cursor:pointer;}a#text_resize_reset{background:url("../../../all/modules/text_resize/a_reset.gif") no-repeat 0 0;display:block;float:right;width:25px;height:24px;margin:9px 0 0 3px;outline:none;text-indent:-9000px;cursor:pointer;}a#text_resize_decrease{background:url("../../../all/modules/text_resize/aSmall.gif") no-repeat 0 0;display:block;float:right;width:23px;height:21px;margin:12px 0 0 3px;outline:none;text-indent:-9000px;cursor:pointer;}#text_resize_clear{clear:both;}
span.ext{background:url("../../../all/modules/extlink/extlink.png") right center no-repeat;padding-right:12px;}span.mailto{background:url("../../../all/modules/extlink/mailto.png") right center no-repeat;padding-right:12px;}@media print{span.ext,span.mailto{display:none;padding:0;}}


.addthis{display:inline;}.addthis img{vertical-align:bottom;margin-bottom:2px;}

.print-link{display:block;text-align:right;padding-bottom:0.5em;}div#block-print-0 span{display:block;}.print_html,.print_mail,.print_pdf{margin-left:1em;}.print-syslink{margin-right:1em;}img.print-icon{vertical-align:middle;}img.print-icon-margin{padding-right:4px;}label.printmail-label{width:175px;float:left;}


h1#site-name{margin-bottom:0;}#site-header,#site-subheader,#footer-region,.column,.node,.comment,.block{margin-bottom:1.5em;}div.admin-panel{padding:0;}div.admin-panel .body{padding:0 !important;}div.admin .left,div.admin .right{width:50%;margin-left:0;margin-right:0;}div.admin .right .admin-panel{margin-left:10px;}body{background-image:url("../../../all/themes/lifeline/images/bgBody.jpg");background-position:top left;background-repeat:repeat-x;background-color:#E86C1E;color:#444444;font-size:0.9em;}#page{padding-top:20px;background-image:url("../../../all/themes/lifeline/images/bgMain.jpg");background-position:top left;background-repeat:no-repeat;background-color:#ffffff;}#main{padding-top:40px;}#sidebar-left{margin-top:30px;}#top-right{text-align:right;}#main div.content{padding-right:30px;}#logo{margin-left:25px;}#main-content #block-menu-secondary-links ul{margin:0px;padding:0px;margin-top:40px;margin-left:0px;padding-top:10px;border-top:1px dotted #CCC;}#block-menu-secondary-links li{list-style:none;display:inline;margin:0px;margin-right:20px;padding:0px;}#block-menu-secondary-links a,#block-menu-secondary-links a:visited{color:#333333;font-size:0.9em;text-decoration:none;}#top-right{padding-bottom:34px;margin-right:25px;background-image:url("../../../all/themes/lifeline/images/textSize.gif");background-position:top right;background-repeat:no-repeat;}#top-right li{float:right;padding-left:4px;}#block-menu-primary-links{margin-top:60px;}#block-menu-primary-links div.content{position:relative;padding-top:70px;background-image:url("../../../all/themes/lifeline/images/bgPrimaryMenu.jpg");background-position:top left;background-repeat:no-repeat;margin-left:20px;}#block-menu-primary-links ul{position:relative;margin:0px;padding:0px;padding-bottom:90px;background-image:url("../../../all/themes/lifeline/images/bgPrimaryMenuBottom.png");background-position:bottom left;background-repeat:no-repeat;}#block-menu-primary-links li{display:block;position:relative;list-style:none;list-style-image:none;margin:0px;padding:0px;background-image:url("../../../all/themes/lifeline/images/bgPrimaryMenuItem.png");background-position:top left;background-repeat:no-repeat;width:249px;border-bottom:1px solid #666;}#block-menu-primary-links li a,#block-menu-primary-links li a:visited{margin:0px;color:#212121;font-size:1.1em;text-decoration:none;display:block;padding-top:7px;padding-bottom:7px;padding-left:10px;}#block-menu-primary-links li a:hover{color:#fff;background-color:#E86C1E;}#page-title{font-size:32px;font-weight:bold;}#main-content div.content{margin-bottom:50px;}#main-content ul{margin-left:30px;}#main-content a,#main-content a:visited{text-decoration:none;color:#444;border-bottom:2px dotted #E76C1E;}#main-content a:hover{background-color:#E86C1E;color:#FFF;}#campaign{width:580px;}.half-content{width:270px;float:left;margin-bottom:40px;margin-right:20px;}#main-content div.content img{padding-left:20px;float:right;}#main-content div.content .half-content a{clear:left;display:block;}#main-content div.content .half-content img{padding:0px;padding-left:0px;float:none;}.boxout{background-color:#E86C1E;padding:15px;color:#fff;margin-bottom:30px;}span.print_html{margin-left:0px;}#block-block-3 div.content img,#block-block-4 div.content img{margin:0px;padding:0px;padding-left:0px;float:none;}#main-content #block-block-4 a{border-bottom:none;}#block-block-5 p,#block-block-6 p{padding-top:70px;padding-left:25px;}div.faq{margin-bottom:70px;}.faq-question{padding-top:0;}div.faq-question a{display:block;background-image:url("../../../all/themes/lifeline/images/faq-btn-down.png");background-position:right;background-repeat:no-repeat;padding-right:50px;height:37px;border:none !important;}div.faq-question a:hover{background-image:url("../../../all/themes/lifeline/images/faq-btn-down-active.png");background-color:transparent !important;color:#E76C1E !important;}div.odd{padding:10px;border:1px dotted #CCC;margin-bottom:10px;background-color:#F7F7F7;}div.even{padding:10px;border:1px dotted #CCC;margin-bottom:10px;background-color:#eaeaea;}div.faq-question{padding-left:0px;}div.faq-answer{padding-left:20px;padding-top:10px;}#main-content div.faq div.faq-answer img{padding:10px;}#main-content div.faq ul.links li img{float:none;}#main-content div.faq ul.links .print_html img{padding:0px;padding-right:10px;}#main-content div.faq ul.links li.addthis{display:none;}.print-link{clear:left;}#main-content ul.links{margin:0px;padding:0px;margin-left:0px;clear:left;}#main-content ul.links li{margin:0px;padding:0px;padding-left:0px;margin-right:30px;}#main-content ul.links li.addthis span a{text-decoration:none;border-bottom:none;}#main-content ul.links li.addthis span a:hover{background-color:#fff;}
